
.FAQ-header {
    
    text-align:center;
    margin:50px;
    margin-bottom:100px;
    
}
h1{

    margin-bottom:20px;
}
.background{
    width:100%;
    background-color: #F8FAFC;
    margin:0;
    

    
    
}
.track-order, .return-policy {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}
.track-order h2 {
    padding-top:50px;
    font-size:30px;
    margin-bottom:20px;
}
.track-order p{
    margin-bottom:20px;
    font-size:18px;
}

.return-policy h2{
    font-size:30px;
    margin-top:20px;
    margin-bottom:20px
}
.key-points{
  padding:20px 20px;
}
.more-details{
    padding-top:20px;
    padding-bottom:50px;
    font-size:18px;
}
 li{
    padding:10px;
    font-size:18px;
}
hr{
    width: 50%;          /* Makes the line 50% of the page width */
  margin: 20px auto;   /* Centers it horizontally */
  border: 1px solid gray;
}
a:link{
    color:#00BFFF;
    text-decoration: none;
}
a:visited{
    color:darkslateblue;
}
a:hover{
    color:lightslategray;
    
}
body p{
    font-family: 'Inter', sans-serif;
  font-weight: 500;
}

